body{
    margin:0;
    background:url(img21.jpg);
    background-size:cover;
}
#{
    background-color: black;
}
#nahidegi{
    border-style:solid;
    padding-left: 30%;
    border-radius: 54px;
}
#hatawyaar{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5%;
    border-style:solid;
    border-radius: 54px;

}
#palenge{

    margin-top: 10%;
    margin-left: 50%;
    margin-right: 10%;
    border-style:solid;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color:rgb(220, 157, 220);
    border-radius: 4%;

}
#sala{
    
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 11%;
    padding-bottom: 5%;
    margin:2%;
    border-style: solid;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;
    margin-top: 4%;
}
#hello{
    margin:5%;
    border-style: solid;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 3%;

}
